/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@font-face {
    font-family: 'NautikBlack';
    src: url('../fonts/nautik-black-webfont.eot');
    src: url('../fonts/nautik-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nautik-black-webfont.woff') format('woff'),
         url('../fonts/nautik-black-webfont.ttf') format('truetype'),
         url('../fonts/nautik-black-webfont.svg#NautikBlack') format('svg');
}

@font-face {
    font-family: 'NautikBold';
    src: url('../fonts/nautik-bold-webfont.eot');
    src: url('../fonts/nautik-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nautik-bold-webfont.woff') format('woff'),
         url('../fonts/nautik-bold-webfont.ttf') format('truetype'),
         url('../fonts/nautik-bold-webfont.svg#NautikBold') format('svg');
}

@font-face {
    font-family: 'NautikRegular';
    src: url('../fonts/nautik-regular-webfont.eot');
    src: url('../fonts/nautik-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nautik-regular-webfont.woff') format('woff'),
         url('../fonts/nautik-regular-webfont.ttf') format('truetype'),
         url('../fonts/nautik-regular-webfont.svg#NautikRegular') format('svg');
}

@font-face {
    font-family: 'QuicksandBook';
    src: url('../fonts/quicksand-book-oblique-webfont.eot');
    src: url('../fonts/quicksand-book-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-book-oblique-webfont.woff') format('woff'),
         url('../fonts/quicksand-book-oblique-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-book-oblique-webfont.svg#QuicksandBookOblique') format('svg');
    font-style: italic, oblique;
}

@font-face {
    font-family: 'QuicksandBook';
    src: url('../fonts/quicksand-book-webfont.eot');
    src: url('../fonts/quicksand-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-book-webfont.woff') format('woff'),
         url('../fonts/quicksand-book-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-book-webfont.svg#QuicksandBook') format('svg');
}

body {
	font-family: QuicksandBook, Helvetica, Arial, sans-serif;
	font-size: 16px;
}
a {
color: #C9505A;
}
a:hover {
color: #EF7C64;
}
.column, .columns {
	margin-left: 2.5%;
}
.row .eight {
	width: 67.1%;
}
h1, h2, h3 {
	font-family: NautikBold, Helvetica, Arial, sans-serif;
/*	letter-spacing: 0.1em;*/
	color: #594F4B;
	text-transform: uppercase;
}
h1 {
	font-size: 65px;
	font-size: 6.5rem;
}
h1 a, h2 a {
	color: #594F4B;
}
h2 a:hover {
	color: #706561;
}
h6 {
	font-family: NautikRegular, Helvetica, Arial, sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #594F4B;
}
div.reverie-header {
	margin: 0;
	text-align: center;
}
#main .reverie-header h1 .blog-name {
display:none
}
#main aside#sidebar {
	float: right;
	margin-top: 15px;
}
#logo {
	border-right: 1px solid #F6D9D2;
}
#content {
	margin-bottom: 2rem;
	margin-left: 0;
	margin-left: -1px\9;  /* IE8 and below */ 
	border-right: 1px solid #F6D9D2;
	float: left;
}
/* Hack for mozilla browsers */
@-moz-document url-prefix() {
  #content {
		margin-left: -1px;
  }
}
#content .entry-content a {
	color: #C9505A;
}
#content .entry-content a:hover {
	color: #EF7C64;
}
#container > header {
	border-bottom: 1px solid #F6D9D2;
}
header > nav {
	height: 60px;
	margin: 0 auto;
	max-width: 980px;
}
dl.nav dd {
	padding: 20px 10px;
	text-align: center;
}
dl.nav dd a {
	font-family: NautikBlack, Helvetica, Arial, sans-serif;
	letter-spacing: 0.1em;
	color: #594F4B;	
	text-transform: uppercase;
}
dl.nav dd:first-child {
	background-color: #C9505A;
	position: relative;	
}
dl.nav dd:first-child a {
	color: #ffffff;
}
dl.nav dd:first-child a:hover {
	color: #ffffff;
}
nav .nav dt {
	display: none;
}
dl.nav dd a:hover {
	background: none;
	color: #000000;
}
dl.nav dd:first-child .arrow-down {
	width: 0;
	height: 0;
	border-left: 34px solid transparent;
	border-right: 34px solid transparent;
	border-top: 20px solid #C9505A;
	margin: 0 auto;
	position: absolute;
	bottom: -20px;
	left: 0px;
}
dl.nav dd {
	margin: 0 2.7%;
}
dl.nav dd:first-child {
	margin-left: 0;
}
dl.nav dd:last-child {
	margin-right: 0;
}
#searchform {
	margin: 0;
}
#searchform .visuallyhidden  {
	display: none;
}
#s, #searchsubmit {
	background: none;
	background-color: #EDEBE5;
	font-family: NautikRegular, Helvetica, Arial, sans-serif;
	letter-spacing: 0.1em;
	color: #594F4B;
	padding-left: 10px;
	border: none;
	font-size: 16px;
	width: 70%;
	float: left;
}
#searchsubmit {
	float: right;
	width: 27%;
	top: -10px;
	padding: 10px 5px;
	font-size: 1.3rem;
	border: none;
}
ul.favorites {
	margin-top: 15px;
}
li.favorite {
	position: relative;
	text-align: center;
	float: left;
}
li.favorite:nth-child(even) {
	float: right;
}
.wpp-post-title {
	font-family: NautikBlack, Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	position: absolute;
	bottom: 0;
	background: #C9505A;
	left: 0;
	color: white;
	padding: 2px 3px 2px 3px;
	width: 138px;
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
li.favorite a:hover {
	filter: alpha(opacity=90);
	opacity: 0.9;	
}
.post-box article .entry-content, 
.post-box article > footer, 
.post-box article > #comments, 
.post-box article > #respond,
body.page .post-box
{
	/* This provides padding from the right border */
	padding: 0 2.5% 0 0;
} 
#content .post-box .post header {
	text-align: center;
	position: relative;
}

#content .post-box h1 {
	font-size: 26px;
	font-size: 2.6rem;
}
#content .post-box p {
	font-size: 1.5rem;
}
body.page #content .post-box h1, body.archive #content .post-box h1 {
	font-size: 45px;
	font-size: 4.5rem;
	text-align: center;
	margin-bottom: 15px;
}
.article-meta {
	font-family: NautikBold, Helvetica, Arial, sans-serif;
	font-size: 1.25rem;
	letter-spacing: 0.1em;
	border-bottom: 1px solid #F6D9D2;
	position: relative;
	margin-bottom: 30px;
}
.article-meta, .article-meta a {
	color: #EF7C64;
}
.article-meta .author, .article-meta time {
	text-transform: uppercase;
}
.comment-count {
	position: absolute;
	width: 70px;
	border: 1px solid #F6D9D2;
	top: 21px;
	left: -71px;
	padding: 5px 0 0 0;
	color: #333;
	font-family: QuicksandBook, Helvetica, Arial, sans-serif;
	font-size: 1.1rem;
	z-index: 1;
	background-color: white;
}
.comment-count a {
	color: #555555;
}
.comment-count .count {
	font-size: 2.8rem;
	font-family: NautikBold, Helvetica, Arial, sans-serif;
}
.meta-content {
	width: 35%;
	border: 1px solid #F6D9D2;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 11px;
	z-index: 1;
	background-color: white;
}
.post-previous {
	background-image: url('../images/sprites.png');
	background-position: 0px -250px;
	width: 185px;
	height: 45px;
	float: left;
}
.post-next {
	background-image: url('../images/sprites.png');
	background-position: -185px -250px;
	width: 185px;
	height: 45px;
	float: right;
}
.post-previous a, .post-next a {
	display: block;
	opacity: 0;
	width: 185px;
	height: 45px;
}
div.categorized {
	background-color: #EDEBE5;
	height: 50px;
	padding: 5px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
p.tags {
	color: #BBA8A4;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.post-box article > footer {
	position: relative;
	padding-top: 20px;
	margin-bottom: 25px;
}
.sociable{
	background-color: #C9505A;
	height: 35px;
	top: -30px;
	position: relative;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 15px 0px 15px;
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.sociable a {
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1.0;
}
.sociable a.social_network_share {
	float: right;
}
.share_bubble {
	width: 135px;
	height: 80px;
	background-image: url('../images/sprites.png');
	background-position: 165px -180px;
	padding: 40px 10px 10px 10px;
	position: absolute;
	right: 6%;
	top: 75px;
	z-index: 1;
	display: none;
}
.sociable a {
	color: #ffffff;
	font-family: NautikBlack, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
.share_bubble li {
	background-image: url('../images/sprites.png');
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 5.5%;
	margin-right: 5.5%;
	margin-bottom: 10px;
}
.share_bubble li a {
	display: block;
	width: 30px;
	height: 30px;
}
.share_bubble li.email       {background-position: 312px 225px;}
.share_bubble li.twitter     {background-position: 270px 225px;}
.share_bubble li.facebook    {background-position: 226px 225px;}
.share_bubble li.google      {background-position: 312px 188px;}
.share_bubble li.stumbleupon {background-position: 270px 188px;}
.share_bubble li.pinterest   {background-position: 226px 188px;}
.divider {background-image: none;}
#comments .comment {
	margin-top: 15px;
	display: block;
}
#comments .comment a {
	color: #C9505A;
}
#comments .comment a:hover {
	color: #EF7C64;
}

#comments .comment time a, #comments .comment time a:hover {
	color: #555555;
	font-size: 1.2rem;
}
#comments article header a {
	font-size: 1.2rem;
}
#comments .comment img.avatar {
	float: left;
	margin-right: 15px;
}
#comments .comment article .comment-author {
	text-align: left;
}
#comments .comment article {
	background-color: #EDEBE5;
	padding: 20px 10px 10px 20px;
	overflow: auto;
}
#comments .comment .comment-reply-link {
	color: #C94F5A;
	font-family: NautikBold, Helvetica, Arial, sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding: 7px;
	float: right;
}
#comments .comment header .fn {
	display: block;
}
#comments .comment header .fn, #comments .comment header .fn a {
	font-family: NautikBold, Helvetica, Arial, sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #C9505A;
	font-size: 1.7rem;
	margin-bottom: 5px;
}
#comments .comment header .fn a:hover {
	color: #EF7C64;
}
#comments .comment #respond {
	margin-top: 20px;
}
li.comment ul.children {
	width: 95%;
	margin-left: 5%;
}
p.tags {
	text-transform: uppercase;
	font-family: NautikBold, Helvetica, Arial, sans-serif;
	letter-spacing: 0.1em;
}
p.tags a {
	text-transform: lowercase;
	color: #C9505A;	
}
p.tags a:hover {
	color: #EF7C64;	
}
/* -----------------------------------------
   Page Name 1
----------------------------------------- */
#social_connections {
	border: 1px solid #F6D9D2;
	position: relative;
}
#new_to_smm {
	background-color: #C94F5A;
	width: 75%;
	text-align: center;
	padding: 5px 8px;
	margin: 0 auto 25px auto;
	box-shadow: 8px 8px 0px #EDEBE5;
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
#new_to_smm:hover {
	background-color: #C94F5A;
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.9;
}

#new_to_smm a, .styled_categories a {
	font-family: NautikBlack, Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	color: white;
	text-transform: uppercase;
}
.bordered {
	border: 1px solid #F6D9D2;
	padding: 8px;
	width: 60%;
	margin-bottom: 0;
	line-height: 0;
	background-image: url('../images/sprites.png');
	background-position: -30px -172px;
	height: 10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -15px;
	z-index: 1;
	background-color: white;
	min-width: 180px;
}
#social_connections ul {
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}
#social_connections li a {
	display: block;
	width: 34px;
	height: 34px;
}
#social_connections li {
	background-image: url('../images/sprites.png');
	float: left;
	margin-left: 4.4%;
	margin-right: 4.4%;
	margin-bottom: 0px;
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
#social_connections li:hover { 
	filter: alpha(opacity=100);
	opacity: 1.0;
}
#social_connections li.instagram {background-position: 0px 193px;}
#social_connections li.pinterest {background-position: -53px 193px;}
#social_connections li.email     {background-position: -108px 193px;}
#social_connections li.facebook  {background-position: -161px 193px;}
#social_connections li.twitter   {background-position: -216px 193px;}
#social_connections li.rss       {background-position: -266px 193px;}

ul.styled_categories {
}
.styled_categories li {
	background-color: #594F4B;
	width: 49%;
	float: left;
	text-align: center;
}
.styled_categories li:hover {
	background-color: #7F726E;
}
.styled_categories li:nth-child(even) {
	float: right;
	margin-right: 0px;
}
.styled_categories li.wide {
	width: 100%;
}
.styled_categories li a {
	font-family: QuicksandBook, Helvetica, Arial, sans-serif;
	text-transform: lowercase;
	display: block;
	padding: 10px 0 10px 0;
}

/* -----------------------------------------
   Tutorials
----------------------------------------- */
body.page .post-box img {
	width: 200px;
	margin: 1% 0 0 0;
}
body.page .post-box a:nth-child(3n+2) img {
	margin: 1% 1% 0 1%;
}

body.page .post-box h2 {
	margin-top: 35px;
}

/* -----------------------------------------
   Page Name 2
----------------------------------------- */
#commentform .input-text, #commentform textarea {
	background: none;
	font-family: NautikRegular, Helvetica, Arial, sans-serif;
	letter-spacing: 0.1em;
	color: #594F4B;
	padding-left: 10px;
	border: 1px solid #EDEBE5;
	font-size: 16px;
	width: 100%;
}
#submit {
	float: right;
}
input.button {
	font-family: NautikBlack, Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	color: white;
	text-transform: uppercase;
	background-color: #C94F5A;
}
input.button:hover {
	background-color: #C94F5A;
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.9;
}

/* -----------------------------------------
   Mobile overrides
----------------------------------------- */
@media only screen and (max-width: 1023px) {
	.comment-count { display: none; }
	dl.nav dd { margin: 0 2.5%; }
	#social_connections li { margin: 0 4% 0 4%; }
}
@media only screen and (max-width: 995px) {
	dl.nav dd { margin: 0 2.2%; }
}
@media only screen and (max-width: 935px) {
	dl.nav dd { margin: 0 2%; }
	#social_connections li { margin: 0 3.2% 0 3.2%; }
}
@media only screen and (max-width: 910px) {
	dl.nav dd { margin: 0 1.3%; }
}
@media only screen and (max-width: 840px) {
	dl.nav dd { margin: 0 .8%; }
}
@media screen and (max-width: 767px) {
	h1 { font-size: 32px; font-size: 3.2rem; line-height: 2.7; }
	dl.nav dd { margin: 0 1.8%; width: 25%; }
	dl.nav dd:first-child { display: none; }
	aside { display: none;}
	header > nav { overflow: auto; height: 100% }
	#social_connections li { margin: 0 2.4% 0 2.4%; }
	.meta-content {	width: 45%; }
	#logo, #content { border: none; }
}
@media handheld, only screen and (max-width: 500px) {
	#logo, #content { border: none; }
	dl.nav dd { width: 40%; }
}

